    </div>
    <footer class="navbar-default navbar-fixed-bottom">
      <div class="container-fluid text-center footer">
        <%
        messages = [
            "<i class='glyphicon glyphicon-console'></i>&nbsp;&nbsp;Did you know Floodplain also has a full-featured CLI? Run <code>sfcli.py</code> to try it.",
            "<i class='glyphicon glyphicon-flash'></i>&nbsp;&nbsp;<a target=_new href='https://github.com/geeknik/floodplain'>Floodplain is a community-maintained, open source fork of SpiderFoot.</a>",
            "<i class='glyphicon glyphicon-education'></i>&nbsp;&nbsp;<a target=_new href='https://github.com/geeknik/floodplain#readme'>Check out the Floodplain documentation to get more out of it.</a>",
            "<i class='glyphicon glyphicon-wrench'></i>&nbsp;&nbsp;<a target=_new href='https://github.com/geeknik/floodplain/issues'>Found a bug or have a feature idea? Open an issue on GitHub.</a>",
            "<i class='glyphicon glyphicon-star'></i>&nbsp;&nbsp;<a target=_new href='https://github.com/geeknik/floodplain'>Enjoying Floodplain? Star the project on GitHub.</a>"
        ]

        import random
        message = messages[random.randint(0, len(messages)-1)]
        %>
        <span>${message}</span>
      </div>
    </footer>

    </body>
</html>
